@import "../../styles.scss";

.field {
  background-image: url("../../assets/img/background-screen.svg");
  @include backgroundStyle($bgs: contain, $bgp: 0 0, $bgc: rgb(4, 94, 4));
  @include sizeStyle($h: 100vh, $w: 100vw);
  @include dFlex();
  max-width: 100%;
}

button {
  background-image: url("../../assets/img/button.png");
  @include backgroundStyle();
  @include borderStyle($br: 3rem);
  @include sizeStyle($h: 100px, $w: 300px);
  position: absolute;
  right: 10%;
  &:hover {
    filter: brightness(1.25);
    cursor: pointer;
  }
}
