@import "../../styles.scss";

.playground {
  background-image: url("../../assets/img/background.jpg");
  @include sizeStyle($h: 100vh, $w: 100vw);

  .card-deck {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .cards {
      position: absolute;
      right: 10px;
    }
  }
}

.pick-card {
  transition: all 125ms ease-in-out;
  animation: drawAnimation 1.5s ease-in-out;
  transform: translate(150px, -100px);
}

.played-card {
  transform: translate(150px, -100px) scale(1);
}

@keyframes drawAnimation {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.5);
    rotate: (-25deg);
  }

  60% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
    transform: translate(150px, -100px);
  }
}

button{
  position: absolute;
  right: 52px;
  bottom: 52px;
}

.player-list{
  position: absolute;
  height: 64px;
}