@import "../../styles.scss";

.playground {
  background-image: url("../../assets/img/background.jpg");
  @include sizeStyle($h: 100vh, $w: 100vw);

  .card-deck {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .cards {
      position: absolute;
      right: 10px;
    }
  }
}

.pick-card {
  transition: all 125ms ease-in-out;
  animation: drawAnimation 1.5s ease-in-out;
  transform: translate(150px, -100px);
}

.played-card {
  transform: translate(150px, -100px) scale(1);
}

@keyframes drawAnimation {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.5);
    rotate: (-25deg);
  }

  60% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
    transform: translate(150px, -100px);
  }
}

@keyframes drawAnimationMini {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.3);
    rotate: (-15deg);
  }

  60% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
    transform: translate(150px, -100px);
  }
}

button {
  position: absolute;
  right: 52px;
  bottom: 52px;
}

.player-list {
  position: absolute;
  right: 0;
  --gap: 80px;
  top: calc(var(--gap) * (var(--i) + 1));
}

.card-info {
  @include dFlex();
  max-width: 100%;
  width: 90%;
}

img {
  height: 160px;
}

@media screen and (max-width: 960px) {
  .playground {
    .card-deck {
      left: 32%;
      transition: 250ms ease-in-out;
    }
  }
}

@media screen and (max-width: 720px) {
  .card-info {
    @include dFlex($jc: unset);
  }

  .playground {
    .card-deck {
      left: 50%;
      top: 60%;
    }

  .pick-card {
    animation: drawAnimationMini 1.5s ease-in-out;
  }
}
}



@media (max-height: 680px) {
  .player-list {
    --gap: 56px;
  }
  .player-tag{
    height: 32px;
  }
}    
