* {
  margin: 0;
  padding: 0;
  font-family: "";
  scroll-behavior: smooth;
}

@mixin dFlex($jc: center, $ai: center, $fd: row, $g: 0) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
  gap: $g;
}

@mixin margin($m: 0 0 0 0) {
  margin: $m;
}

@mixin padding($p: 0 0 0 0) {
  padding: $p;
}

@mixin fontStyle($fs: 24px, $fw: bold, $c: #000000, $td: none) {
  font-size: $fs;
  font-weight: $fw;
  color: $c;
  text-decoration: $td;
}

@mixin sizeStyle($h: 64px, $w: 64px) {
  height: $h;
  width: $w;
}

@mixin backgroundStyle($url: "", $bgs: cover, $bgr: no-repeat, $bgp: 50% 50%, $bgc:unset) {
  background-image: $url;
  background-size: $bgs;
  background-repeat: $bgr;
  background-position: $bgp;
  background-color: $bgc;
}

@mixin borderStyle($br: 0.5rem, $bc: whitesmoke, $bs: none){
  border-style: $bs;
  border-radius: $br;
  border-color: $bc;
}